<!DOCTYPE html>
<html>
<head>
 
    <head>
      <link rel="stylesheet" href="estilo.css">
</head>
<body>

	<form >
		 <h3 class="text-center py-3 border-bottom">Descifrar Archivo</h3>
		<div>
		
			<label>Ruta</label>
			<input type="text" required placeholder="Ruta" name="Ruta" />
		</div>
		<div>  
			<label>Passphrase</label>
			<input type="password" required placeholder="Passphrase" name="Passphrase" />
        </div>
		
		<div class="opciones">
		<button type="button" name="boton1" class="save"  onclick="window.location.href='http://localhost:8080/cgi-bin/descifrar.py'" / >Descifrar</button>
		</div>
	      
	       <div class="opciones">
                <button type="button" class="reset" onclick="window.location.href='http://localhost:8080/formEncriptar.html'">Encriptar</button>
          
  


                </div>
	</form>


 
          
</body>







</html>