<!DOCTYPE html>
<html>
<head>
 
    <head>
      <link rel="stylesheet"  href="{{ url_for('static', filename='estilo.css') }}"  >
</head>
<body>


	<form >
		 <h3 class="text-center py-3 border-bottom">Iniciar Sesión</h3>
		<div>
		
			<label>Usuario</label>
			<input type="text" required placeholder="Usuario" name="Usuario" />
		</div>
		<div>
			<label>Contraseña</label>
			<input type="password" required placeholder="Contraseña" name="Contraseña" />
		</div>
		
		<div class="opciones">
		<button type="button" name="boton1" class="save"  onclick="window.location.href='login.py'" / >Iniciar sesión</button>
		</div>
	      
	       <div class="opciones">
                <button type="button" class="reset" onclick="">Registrarse</button>
          
  


                </div>
	</form>


 
          
</body>







</html>