		form {
			width: 5px;
			margin: 5px auto;
			background-color: #f5f5f5;
			border: 1px solid #ededed;
			border-radius: 5px;
			padding: 10px;
			font-family: Arial;
			color: #333;
			font-size: 15px;
		}
		div {
			margin-bottom: 10px;
		}
		.equipo {
			display: inline-block;
			padding: 0;
			width: 14px;
			margin-bottom: 0;
		}
		select {
			width: 115px;
		}
		input[type=text] {
			width: 175px;
		}
		input[type="number"] {
			width: 30px;
		}
		label {
			width: 100px;
			display: inline-block;
			text-align: left;
		}
		.opciones {
			text-align: center;
		}
		.save {
			font-size: 14px;
			border: 1px solid #00B800;
			background-color: #00B800;
			color: #FFF;
		}
		.reset {
			font-size: 14px;
			border: 1px solid #555;
			background-color: #FFF;
			color: #555;
			
		}
		.equipo-2 {
			text-align: right;
		}
	