{% extends "diseño.html" %}
{% block content %}
<body>
	<div class="content-section">
		
			<form action="/encriptar" method="POST">
				<legend class="border-bottom mb-4">Cifrar</legend>
				<div class="form-group">
					<label>Ruta</label>
				<input type="text" required placeholder="Ruta" name="Ruta" value="{{
					request.form.Ruta }}"/>
				</div> 

				<div class="form-group">
					<label>Passphrase</label>
					<input type="password" required minlength=8 placeholder="Passphrase" name="Passphrase" value="{{
						request.form.Password}}"/>
					</div> 
						<div class="form-group">
							<label>Confirm Passphrase</label>
							<input type="password" id="confirm_password" required minlength=8 placeholder="Confirm Passphrase" name="Confirm Passphrase" value="{{
								request.form.ConfirmPassword}}"/>
							</div> 
							
						  <input class="btn btn-default" type="submit" value="Cifrar">
			
			
			</form>
		</div>
			
		<div class="content-section">
		
			<form action="/descifrar" method="POST">
				<legend class="border-bottom mb-4">Descifrar</legend>
				<div class="form-group">
					<label>Ruta</label>
					<input type="text" required placeholder="Ruta" name="Ruta" />
				</div> 

				<div class="form-group">
					<label>Passphrase</label>
					<input type="password" required minlength=8 placeholder="Passphrase" name="Passphrase" />
					</div> 
						
							
						  <input class="btn btn-default" type="submit" value="Descifrar">
			
			
			</form>
		
		</div>
</body>
{% endblock content %}










</html>