{% extends "diseño.html" %}
{% block content %}
 <body>
	<div class="content-section">
		<form action="/login" method="POST">
		  <fieldset class="form-group">
			  
			  <legend class="border-bottom mb-4">Opciones</legend>
		  <div class="form-group">
		
						<div class="navbar-nav">
						  <a class="nav-item nav-link" href="/cifrar">Cifrar y descifrar archivos</a>
						  <a class="nav-item nav-link" href="/firmar">Firma digital</a>
						</div>

					</div>
		  </fieldset>
		  </form>         
   
  </body>

{% endblock content %}




</html>
