{% extends "diseño.html" %}
{% block content %}
 <body>

    
      <div class="content-section">
      <form action="/firmadigital" method="POST">
        <fieldset class="form-group">
            
            <legend class="border-bottom mb-4">Firma digital</legend>
        <div class="form-group">
       
				<label>Ruta</label>
				<input type="text" required placeholder="Ruta" name="Ruta" value="{{
					request.form.Ruta }}"/>
				</div>
				<input class="btn btn-default" type="submit" value="Firmar">
			</form>
		</div>

		<div class="content-section">
			<form action="/verificarfirma" method="POST">
				<fieldset class="form-group">
            
					<legend class="border-bottom mb-4">Verificar firma</legend>
				<div class="form-group">

					<label>Ruta</label>
					<input type="text" required placeholder="Ruta" name="Ruta" />
						</div>
		
						<input class="btn btn-default" type="submit" value="Descifrar">
					</form>
					</div>
		
			

                    
    </div>
  </body>

{% endblock content %}

	



</body>


</html>